matplotlib/matplotlib/fontList.cache
vim/vim/spell
vim/vim/bundle
*.swp
ghc/ghc/ghci_history
ghc/ghc/x86_64-*
vim/vim/haskellmode.config
pip/pip/pip.log
emacs/emacs.d/elpa
vim/vim/vim-addons
zsh/zsh/cache
*.cache
emacs/emacs.d/auto-save-list/*
emacs/emacs.d/backups/*
emacs/!emacs.d/backups/.gitkeep
emacs/emacs.d/elpa/*
emacs/!emacs.d/elpa/.gitkeep
emacs/emacs.d/places
emacs/emacs.d/tramp
**/#*#
**/.#*

# Created by http://www.gitignore.io

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

emacs/emacs.d/url
emacs/emacs.d/eshell/*
vim/vim/tmp/*
vim/vim/tmp/undo/*
!vim/vim/tmp/.gitkeep
!vim/vim/tmp/undo/.gitkeep
*.pyc
emacs/emacs.d/*
!emacs/emacs.d/init.el
*.DS_Store
.bundle
venv
mutt/mutt.d/authentication.mutt
mutt/mutt.d/passwords.gpg
mutt/mutt.d/headers
mutt/mutt.d/aliases.txt

# IPython - profile default
# Keep static files
!ipython/ipython/profile_default/static/custom/custom.css
!ipython/ipython/profile_default/static/custom/custom.js
# Keep startup files
!ipython/ipython/profile_default/startup
# Ignore the rest
ipython/ipython/profile_default/startup/README
ipython/ipython/profile_default/security
ipython/ipython/profile_default/history.sqlite

# IPython - profile nbserver
# Keep static files
!ipython/ipython/profile_nbserver/static/custom/custom.css
!ipython/ipython/profile_nbserver/static/custom/custom.js
# Keep startup files
!ipython/ipython/profile_nbserver/startup
# Ignore the rest
ipython/ipython/profile_nbserver/startup/README
ipython/ipython/profile_nbserver/security
ipython/ipython/profile_nbserver/history.sqlite

# IPython - profile pylab
# Keep static files
!ipython/ipython/profile_pylab/static/custom/custom.css
!ipython/ipython/profile_pylab/static/custom/custom.js
# Keep startup files
!ipython/ipython/profile_pylab/startup
# Ignore the rest
ipython/ipython/profile_pylab/startup/README
ipython/ipython/profile_pylab/security
ipython/ipython/profile_pylab/history.sqlite

# IPython - profile sh
# Keep static files
!ipython/ipython/profile_sh/static/custom/custom.css
!ipython/ipython/profile_sh/static/custom/custom.js
# Keep startup files
!ipython/ipython/profile_sh/startup
# Ignore the rest
ipython/ipython/profile_sh/startup/README
ipython/ipython/profile_sh/security
ipython/ipython/profile_sh/history.sqlite
