[submodule ".config/fish/plugins/plugin-foreign-env"]
	path = .config/fish/plugins/plugin-foreign-env
	url = https://github.com/oh-my-fish/plugin-foreign-env
[submodule ".config/fish/plugins/plugin-ssh-agent"]
	path = .config/fish/plugins/plugin-ssh-agent
	url = https://github.com/danhper/fish-ssh-agent
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".config/fish/plugins/fish-theme"]
	path = .config/fish/plugins/fish-theme
	url = https://github.com/catppuccin/fish
