[submodule "git-remote-hg"]
	path = external/git-remote-hg
	url = https://github.com/fingolfin/git-remote-hg.git
[submodule "external/git-stree"]
	path = external/git-stree
	url = https://github.com/tdd/git-stree
[submodule "external/serveit"]
	path = external/serveit
	url = https://github.com/garybernhardt/serveit
[submodule "external/tmux-sensible"]
	path = external/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "external/conda-zsh-completion"]
	path = external/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion
[submodule "external/p"]
	path = external/p
	url = https://github.com/chrismdp/p
[submodule "external/fabric-zsh-autocomplete"]
	path = external/fabric-zsh-autocomplete
	url = https://github.com/vhbit/fabric-zsh-autocomplete
[submodule "external/tpm"]
	path = external/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "external/git-latexdiff"]
	path = external/git-latexdiff
	url = https://gitlab.com/git-latexdiff/git-latexdiff.git
[submodule "external/git-standup"]
	path = external/git-standup
	url = https://github.com/kamranahmedse/git-standup
[submodule "external/fzf"]
	path = external/fzf
	url = https://github.com/junegunn/fzf
