result
home/nvim/plugin/packaer_compiled.lua
/result*
# built vm hdds
*.qcow2
/home/neovim/lazy-lock.json
/home/zed/*
!/home/zed/settings.json
.config/fish/fish_variables
.config/nvim/lazy-lock.json
.config/zed/prompts
/.config/emacs/custom.el
/.config/emacs/init.el
/.config/emacs/*
/.config/helix/themes/adaptive.toml
.doom.d/custom.el
