result
home/nvim/plugin/packaer_compiled.lua
/result*
# built vm hdds
*.qcow2
/home/neovim/lazy-lock.json
/home/zed/*
!/home/zed/settings.json
.config/fish/fish_variables
.config/nvim/lazy-lock.json
.config/zed/prompts
/.config/emacs/custom.el
/.config/helix/themes/adaptive.toml
.doom.d/custom.el
/.config/git/theme.conf
Library/LaunchAgents/com.google.GoogleUpdater.wake.plist
Library/LaunchAgents/com.google.keystone.agent.plist
Library/LaunchAgents/com.google.keystone.xpcservice.plist
/.config/k9s/config.yaml
\#*\#
