let mapleader = "\<space>"

" plugins
set surround
set commentary
set functiontextobj
let g:highlightedyank_highlight_duration = "200"
set highlightedyank

" settings
set incsearch
set smartcase
set nohlsearch
set ignorecase
set scrolloff=5
set norelativenumber
set nonumber

" configure mappings
map <leader>f <Action>(GotoFile)
map <leader>s <Action>(GotoSymbol)
map gb <Action>(RecentFiles)
map [c <Action>(VcsShowPrevChangeMarker)
map <leader>y <Action>(ReformatCode)
map ]c <Action>(VcsShowNextChangeMarker)
map <space> :nohl<Cr>
map tn <Action>(RunClass)
map tdn <Action>(DebugClass)
map tl <Action>(Run)
map tdl <Action>(Debug)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map <leader>e <Action>(QuickEvaluateExpression)
map <leader>a <Action>(GotoAction)
map <leader>j <Action>(RecentLocations)
map Q gq

" debugging
map tdb <Action>(ToggleLineBreakpoint)
map tdj <Action>(RunToCursor)
map tdt <Action>(Stop)
