[tasks.all]
description = "Install/link packages"
depends = [
    "submodules",
    "dotfiles",
    "defaults",
    "gh-extensions",
    "vim-update",
    "mise:packages",
    "launchctl",
    "bat-cache",
]
depends_post = ["brew"]

[tasks."mise:packages"]
description = "Update globally installed mise packages"
depends = ["dotfiles"]
run = "mise --cd $HOME upgrade"

[tasks.submodules]
description = "Ensure submodules are installed"
run = "git submodule update --init"

[tasks.dotfiles]
description = "Install dotfiles"
depends = ["submodules"]
run = """
if [ "$(uname)" = "Linux" ]; then
  stow --ignore='^Library' .
else
  stow .
fi
"""

[tools]
go = "latest"
lua-language-server = "latest"

[tasks."brew:upgrade"]
run = "brew update && brew upgrade"
depends = ["submodules", "brew"]
description = "Update brews"

[tasks.vim-update]
run = "nvim --headless '+Lazy! sync' +qa"
description = "Update neovim plugins"

[tasks.bat-cache]
run = "bat cache --build"
description = "Refresh the bat syntax theme cache"

[tasks.kill-nvim]
run = "pkill nvim || true"
description = "Close all running instances of neovim"

[tasks.nvim-nightly-update]
run = "bob update nightly"
description = "Update to the latest neovim nightly"
depends = ["kill-nvim"]
