<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.simonrw.tmux-prune</string>
	<key>ProgramArguments</key>
	<array>
        <string>/bin/sh</string>
		<string>-c</string>
        <string>exec python3 $HOME/.bin/tmux-prune -vf</string>
	</array>
	<key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>5</integer>
        <key>hour</key>
        <integer>7</integer>
        <key>weekday</key>
        <integer>1</integer>
    </dict>
</dict>
</plist>
