snippet inc
#include <${1:stdio}.h>
$0
endsnippet

snippet once "Include header once only guard"
#ifndef ${1:`!p
if not snip.c:
	import string
	name = re.sub(r'[^A-Za-z0-9]+','_', snip.fn).upper()
	snip.rv = "{0}_".format(name.upper())
else:
    snip.rv = snip.c`}
#define $1

${0}

#endif
endsnippet

snippet main
int main(int argc, char *argv[]) {

	$0

	return 0;
}
endsnippet
