[Desktop Entry]
Name=Helium
Comment=Helium web browser
Exec=/usr/local/bin/helium %U
Icon=helium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
