@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
@import url('http://fonts.googleapis.com/css?family=Kameron');
@import url('http://fonts.googleapis.com/css?family=Lato:200');
@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://fonts.googleapis.com/css?family=Lato:400');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

/* Change fonts */
.CodeMirror pre {
    font-family: 'Source Code Pro', Consolas, monocco, monospace;
}

div.text_cell_render {
    font-family: "Crimson Text";
    font-size: 14pt;
    line-height: 145%; /* added for some line spacing of text. */
}

div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Kameron';
    font-weight: 300;
}

div.text_cell_render h1 {
    font-size: 24pt;
}

div.text_cell_render h2 {
    font-size: 18pt;
}

div.text_cell_render h3 {
    font-size: 14pt;
}

.rendered_html pre,
.rendered_html code {
    font-size: 12pt;
}

.rendered_html p {
    text-align: left;
}

.rendered_html ol {
    list-style:decimal;
    margin: 1em 2em;
}

.rendered_html li {
    line-height: 145%;
}
