/* Highlight code sections with a nice background colour */
code {
    padding: .2rem .5rem !important;
    margin: 0 .2rem !important;
    font-size: 90% !important;
    white-space: nowrap !important;
    background: #F1F1F1 !important;
    border: 1px solid #E1E1E1 !important;
    border-radius: 4px !important;
}
