[ui]
default-command = "status"
pager = "delta"
diff-editor = ":builtin"
diff-formatter = ":git"

[git]
push-new-bookmarks = true
# automatically track remote bookmarks
auto-local-bookmark = true
# Add git compatible change id header
# source: https://oppi.li/posts/configuring_jujutsu/
write-change-id-header = true
# sign commits on push
sign-on-push = true

[signing]
behaviour = "own"
backend = "ssh"
key = "~/.ssh/id_signing.pub"

[user]
email = "s.r.walker101@googlemail.com"
name = "Simon Walker"

[mergetools.difft]
diff-args = ["--color=always", "$left", "right"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[revsets]
# https://github.com/willhbr/dotfiles/blob/ca9cabda249d0f77e09263af30760e8c5603d1a7/jj/jjconfig.toml#L25
log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()'

[aliases]
# tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]
tpush = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj tug
jj git push
"""]
ci = ["commit"]
update = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
CURRENT_BOOKMARK=$(jj current-bookmark)
jj git fetch
jj new ${CURRENT_BOOKMARK}
""", ""]
up = ["update"]
current-bookmark = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
jj log -r 'closest_bookmark(@)' --template "bookmarks.join(' ')" --no-graph | sed 's/\\*//'
""", ""]
diff-base = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
jj diff -r ${REVIEW_BASE:-main}..@- "$@"
""", ""]
l = ["log", "-r", "::trunk()"]
pr-view = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
gh pr view $(jj current-bookmark) "$@"
""", ""]
pr-create = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
jj git push -b $(jj current-bookmark)
gh pr create -H $(jj current-bookmark) "$@"
""", ""]
pr-edit = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
set -euo pipefail
gh pr edit $(jj current-bookmark) "$@"
""", ""]

[templates]
log = "builtin_log_oneline"
# Add detailed log in commit message by default
# source: https://oppi.li/posts/configuring_jujutsu/
draft_commit_description ='''
    concat(
      coalesce(description, default_commit_description, "\n"),
      surround(
        "\nJJ: This commit contains the following changes:\n", "",
        indent("JJ:     ", diff.stat(72)),
      ),
      "\nJJ: ignore-rest\n",
      diff.git(),
    )
'''

[template-aliases]
'format_short_signature(signature)' = 'signature.name()'
'format_short_signature_oneline(signature)' = 'signature.name()'
'format_timestamp(timestamp)' = 'timestamp.ago()'

[[--scope]]
--when.repositories = ["~/work/localstack"]
[--scope.user]
email = "simon.walker@localstack.cloud"
